@model IEnumerable<DrugMMvc.Models.Buyer>

@{
    ViewData["Title"] = "Transactions";
     Layout = "UserLayout";
}

<h3>Your Purchase History</h3>
@*
<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.PurchaseId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateofPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMode)
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.PurchaseId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMode)
            </td>
          @*  <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
           @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>


