@model IEnumerable<DrugMMvc.Models.Buyer>

@{
    ViewData["Title"] = "Transactions";
    Layout = "UserLayout";
}

<h1>Transactions</h1>


<table style="width:100%">
    <tr>
       
        <td>Total Amount</td>
        <td>Mode of Payment</td>
        <td>Time of Purchase</td>
      
    </tr>
    <tr>
       
        <td><h5>
                @foreach (var item in @ViewBag.TM)
                {
                    <h5>@Html.Raw(item)</h5>
                }
            </h5>
        </td>
        <td><h5>
                @foreach (var item in @ViewBag.PM)
                {
                    <h5>@Html.Raw(item)</h5>
                }
            </h5>
        </td>
        <td><h5>
                @foreach (var item in @ViewBag.DOP)
                {
                    <h5>@Html.Raw(item)</h5>
                }
            </h5>
        </td>
      

    </tr>
</table>

<table>
    <tr>
        <td>Product List</td>
    </tr>
    <tr>
        <td>
            <h5>
                @foreach (var item in @ViewBag.PName)
                {
                    <h5>@Html.Raw(item)</h5>
                }
            </h5>
        </td>
    </tr>
