@model IEnumerable<DrugMMvc.Models.Product>

@{
    ViewData["Title"] = "AdminIndex";
        Layout = "AdminLayout";

}



<p>
   <h3> Admin Portal</h3>
   <br />
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
@*                @Html.DisplayNameFor(model => model.ProductId)
*@   
<label>
    Product Id
</label>
</th>
            <th>
@*                @Html.DisplayNameFor(model => model.ProductName)
*@  Product Name      
</th>
            <th>
                @Html.DisplayNameFor(model => model.MfdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MfdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
               @if(item.Stock<1)
                {
                     <td style="color:RED">
                @Html.DisplayFor(modelItem => item.Stock)
                        <h8>(Refill the inventory)</h8>
                        </td>
                    }
                    else if(item.Stock<15)
                    {
                        <td style="color:brown">
                             @Html.DisplayFor(modelItem => item.Stock)
                        <h8>(Attention required)</h8>
                        </td>
                    }
                    else
                    {
                        <td style="color:green">
                             @Html.DisplayFor(modelItem => item.Stock)
                       <h8>(No action needed)</h8> 
                       </td>
                    }

            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ProductId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
